#registration-page-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
#registration-form-container {
    width: 95%;
    height: 100%;
    background-color: #EFF3F4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.registration-form {
    width: 500px;
    height: 577px;
    background-color: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 2px;
    margin-top: 109px;
    padding-top: 50px;
    z-index: 100;
    position: relative;
    bottom: 67px;
    text-align: center;
}
.registration-form input {
    width: 80%;
    height: 30px;
    margin: 10px auto 10px auto;
    padding-left: 15px;
    border: 1px solid lightgray;
    border-radius: 2px;
}
.registration-form button {
    width: 80%;
    height: 35px;
    margin-top: 20px;
    background-color: #F7AE45;
    color: white;
    border: none;
    border-radius: 7px;
}
.registration-form button:focus {
    outline: none;
}
.registration-form a {
    display: inline-block
}

@media screen and (max-width: 1080px) {
    .registration-form {
        bottom: 19px;
    }
}